:root {
  --text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-color: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  font-size: 16px;
  background-color: var(--background-color);
}
/* Логотип */
.logo {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-footer {
  color: #ffffff;
}
.logo span {
  color: #2196f3;
}

/* Навигация сайта */
.navigation-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}
.navigation-item .link {
  text-decoration: none;
  color: var(--text-color);
}
.link.current {
  color: var(--accent-text-color);
}
.navigation-item .link:hover,
.navigation-item .link:focus,
.contact-item .link:hover,
.contact-item .link:focus {
  color: var(--accent-text-color);
}


/* Контакты в шапке */
.contact-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}
.contact-item .link {
  text-decoration: none;
  color: var(--secondary-text-color);
}

/* Секция герой */
.hero {
  background-color: grey;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
}
.hero-btn {
  background-color: #2196f3;
  cursor: pointer;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: aquamarine;
}

/* Особенности */
.features {
  list-style: none;
}
.feature-subtitle {
  list-style: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Чем мы занимаемся */
.activity-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.activity-list {
  list-style: none;
}
/* Наша команда */
.team-section {
  background-color: var(--secondary-background-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}
.team-list {
  list-style: none;
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team-list-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Футер */
.footer-section {
  background-color: var(--footer-color);
}
.adress-list {
  list-style: none;
  font-style: normal;
}
.adress-link {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.adress-link span {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.adress-link:hover,
.adress-link:focus,
.adress-link span:hover,
.adress-link span:focus {
  color: var(--accent-text-color);
}

/* Портфолио */

/* Фильтр проектов */
.filters-list {
  list-style: none;
}
.filter-btn {
  font-family: 'Roboto', sans-serif;
  background-color: var(--secondary-background-color);
  cursor: pointer;
  color: var(--text-color);
  font-style: normal;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-text-color);
  color: #ffffff;
}

/* Проекти */
.projects-list {
  list-style: none;
  font-style: normal;
}
.project-link {
  text-decoration: none;
}

.project-subtitle {
  color: var(--text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
